node_modules/
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variables file
.env

# macOS
.DS_Store
.zip

# nyc
.nyc_output/*
winstonLogger.log

# code coverage
coverage

# build folder
build
